name: CI/CD Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest  # <- INI RUNNER
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    
    - name: Install dependencies
      run: npm ci  # <- DIJALANKAN DI RUNNER
    
    - name: Build project
      run: npm run build  # <- DIJALANKAN DI RUNNER